body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: white;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333; 
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: green;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: green;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
  
  .content {
    padding: 0 16px;
    background-color: white;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .category {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  .category h2 {
    margin-top: 0;
  }
  
  .product-card {
    border: 1px solid black;
    padding: 10px;
  }
  
  .product-card img {
    object-fit: cover;
    height: 200px;
    width: 100%;
  }
  
  .product-card h3 {
    margin: 10px 0;
  }
  
  .product-card p {
    margin: 0;
  }
  h1 {
    color: darkgreen;
  }